.btn-yellow{
    background-color: $gold_yellow;
    padding: .675rem 1.75rem;
    border-radius: 59px;
    color: $azure;
    font-weight: 500;
    font-size: $base_font_size;
}

.btn-green{
    background-color: $light_green;
    padding: .675rem 1.75rem;
    border-radius: 59px;
    color: $azure;
    font-weight: 500;
    font-size: $base_font_size;
}