// Typography
//-----------------------------------
$base_font_family: 'Ubuntu', sans-serif;
$base_font_size: 14px;

// Color Palette
//-----------------------------------
$azure: #FDFEFE;
$light_green: #37A9AD;
$viking: #54B9BE;
$oyster_bay: #D8E8EB;
$gold_yellow: #d9da24;
$navy_dark: #082747;
$text-color: #a0b0c2;

$showcase-image:'../images/showcase.png';
$world-map: '../images/world-map.png';